<form class="add-form" (ngSubmit)="onSubmit()"
*ngIf ="showAddTask" >
  <div class="form-control">
    <label for="text">Task</label>
    <input type="text" name="text" id="text" placeholder="Add a new task"
    [(ngModel)]="text">  <!--doble binding-->

    <label for="day">Day & Time</label>
    <input type="text" name="day" id="day" placeholder="Add day and time"
    [(ngModel)]="day">

    <div class="form-check">
      <label class="form-check-label" for="reminder">Reminder</label>
      <input class="form-check-input" type="checkbox" name="reminder" id="reminder" value=""
      [(ngModel)]="reminder">
    </div>

    <input type="submit" value="Save Task" class="btn btn-primary">
  </div>

</form>
